<!-- PAGINA DE BIENVENIDA-->
<main>
  <section id="welcome" class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="assets/img/p1.png" width="500px" alt="Imagen de paneles solares"
            class="img-fluid shadow img-thumbnail">
        </div>
        <div class="col-md-6 align-self-center">
          <h1 class="display-5">Power Pickup Planet</h1>
          <p>Somos una empresa comprometida con el medio ambiente y la producción de energía renovable.</p>
          <p>Ofrecemos paneles solares de alta calidad.</p>
          <a routerLink="catalogo" class="btn btn-secondary">Ver productos</a>
        </div>
      </div>
    </div>
  </section>

  <section id="products" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Productos y Servicios</h2>
          <p>Estamos disponibles para nuestros clientes con el fin de ayudarles a encontrar la solución de energía solar
            que se ajuste perfectamente a sus necesidades.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card h-100">
            <img src="assets/img/p2.png" class="card-img-top" alt="Calculadora con panel solar">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Cálculo</strong></h5>

              <p class="card-text">Te brindamos una herramienta que muestra una estimación aproximada de tus ahorros y ganancias potenciales.</p>
              <a routerLink="calculadora" class="btn btn-light">Ver cálculo</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card h-100">
            <img src="assets/img/p3.png" class="card-img-top" alt="Imagen del producto 2">
            <div class="card-body">
              <h5 class="card-title text-center"><strong>Catálogo</strong></h5>
              <p class="card-text">Descubre todos los paneles solares que tenemos a tu disposición y aprovecha el poder del sol para tu beneficio.</p>
              <a routerLink="catalogo" class="btn btn-light">Ver productos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
