<main style="margin-top: 50px;" class="container">
  <form [formGroup]="productoForm" (ngSubmit)="guardarProducto()">
    <!-- CAMPO DE MARCA DE PRODUCTO-->
    <div class="mb-3">
      <label for="marca" class="form-label">Marca</label>
      <select id="marca" class="form-select" formControlName="marca" required>
        <option value="" disabled>Selecciona una marca</option>
        <option *ngFor="let marca of marcas" [value]="marca.value">{{ marca.label }}</option>
      </select>
      <div class="invalid-feedback"
        *ngIf="productoForm.controls['marca'].invalid && productoForm.controls['marca'].touched">
        Debes seleccionar una marca.
      </div>
    </div>
    <!-- CAMPO DE MODELO DE PRODUCTO-->
    <div class="mb-3">
      <label for="modelo" class="form-label">Modelo</label>
      <select id="modelo" class="form-select" formControlName="modelo" required>
        <option value="" disabled>Selecciona un modelo</option>
        <ng-container *ngFor="let modelo of modelos">
          <ng-container *ngIf="modelo.marca === productoForm.value.marca">
            <option *ngFor="let m of modelo.modelos" [value]="m">{{ m }}</option>
          </ng-container>
        </ng-container>
      </select>
      <div class="invalid-feedback"
        *ngIf="productoForm.controls['modelo'].invalid && productoForm.controls['modelo'].touched">
        Debes seleccionar un modelo.
      </div>
    </div>
    <!-- CAMPO DE DIMENSION DE PRODUCTO-->
    <div class="mb-3">
      <label for="dimension" class="form-label">Dimensión (1 - ∞)</label>
      <input type="number" id="dimension" class="form-control" formControlName="dimension" required>
      <div *ngIf="productoForm.get('dimension')?.hasError('required')" class="alert alert-danger mt-2">
        La dimension es requerida.
      </div>
      <div *ngIf="productoForm.get('dimension')?.hasError('min')" class="alert alert-danger mt-2">
        La dimension debe ser mayor o igual a 1.
      </div>
    </div>
    <!-- CAMPO DE CANTIDAD DE PRODUCTO-->
    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad (1 - 100)</label>
      <input type="number" id="cantidad" class="form-control" formControlName="cantidad" required>
      <div *ngIf="productoForm.get('cantidad')?.hasError('required')" class="alert alert-danger mt-2">
        La cantidad es requerida.
      </div>
      <div *ngIf="productoForm.get('cantidad')?.hasError('max')" class="alert alert-danger mt-2">
        La cantidad debe ser menor o igual a 100.
      </div>
      <div *ngIf="productoForm.get('cantidad')?.hasError('min')" class="alert alert-danger mt-2">
        La cantidad debe ser mayor o igual a 1.
      </div>
    </div>

    <!-- CAMPO DE POTENCIA DE PRODUCTO-->
    <div class="mb-3">
      <label for="potencia" class="form-label">Potencia (1 - 1000)</label>
      <input type="number" id="potencia" class="form-control" formControlName="potencia" required>
      <div *ngIf="productoForm.get('potencia')?.hasError('required')" class="alert alert-danger mt-2">
        La potencia es requerida.
      </div>
      <div *ngIf="productoForm.get('potencia')?.hasError('max')" class="alert alert-danger mt-2">
        La potencia debe ser menor o igual a 1000.
      </div>
      <div *ngIf="productoForm.get('potencia')?.hasError('min')" class="alert alert-danger mt-2">
        La potencia debe ser mayor o igual a 1.
      </div>
    </div>
    <!-- CAMPO DE EFICIENCIA DE PRODUCTO-->
    <div class="mb-3">
      <label for="eficiencia" class="form-label">Eficiencia (0.1 - 1)</label>
      <input type="number" id="eficiencia" class="form-control" formControlName="eficiencia" required>
      <div *ngIf="productoForm.get('eficiencia')?.hasError('required')" class="alert alert-danger mt-2">
        La eficiencia es requerida.
      </div>
      <div *ngIf="productoForm.get('eficiencia')?.hasError('max')" class="alert alert-danger mt-2">
        La eficiencia debe ser menor o igual a 1.
      </div>
      <div *ngIf="productoForm.get('eficiencia')?.hasError('min')" class="alert alert-danger mt-2">
        La eficiencia debe ser mayor o igual a 0.1.
      </div>
    </div>
    <!-- CAMPO DE MANTENIMIENTO PARA PRODUCTO-->
    <div class="mb-3">
      <label for="mantenimiento" class="form-label">Mantenimiento</label>
      <select class="form-select" id="mantenimiento" formControlName="mantenimiento">
        <option value="" disabled selected>Seleccione un mantenimiento</option>
        <option value="" selected>No</option>
        <option *ngFor="let mantenimiento of mantenimientos" [value]="mantenimiento.id_mantenimiento">{{ mantenimiento.tipo_mantenimiento }}</option>
      </select>
    </div>
    <!-- CAMPO DE INSTALACION PARA PRODUCTO-->
    <div class="mb-3">
      <label for="instalacion" class="form-label">Instalación</label>
      <select class="form-select" id="instalacion" formControlName="instalacion">
        <option value="" disabled selected>Seleccione una instalación</option>
        <option value="" selected>No</option>
        <option *ngFor="let instalacion of instalaciones" [value]="instalacion.id_instalacion">{{ instalacion.nombre_instalacion }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Crear Producto</button>
  </form>
</main>
